
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.basket-container {
  flex: 3;
  margin-right: 20px;
}

.custom-table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  width: 84%;
  font-size: 1.1em; /* Larger font size for better readability */
}

.custom-table thead {
  background-color: #17a2b8;
  color: #fff;
}

.custom-table th,
.custom-table td {
  padding: 20px;
  vertical-align: middle;
}

.custom-table tbody tr {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 600px; /* Increased width */
  height: auto;
  border-radius: 5px;
}

.description {
  font-size: 10px; /* Smaller font size for descriptions */
}

.btn {
  margin: 0 5px;
  transition: transform 0.3s, background-color 0.3s;
}

.order-summary-container {
  flex: 1;
  position: fixed;
  top: 150px; /* Adjust this value based on your header height */
  right: 5px; /* Adjust this value based on your layout */
  width: 300px; /* Adjust the width as needed */
}
.order-summary {
  background-color: #f8f9fa;
  color: #17a2b8;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.order-details {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  padding: 20px;
}


/* From Uiverse.io by Ratinax */ 
.radio-input {
display: flex;
scale: 0.15;
transform: rotate(180deg);
}

.star {
margin: 1em;
appearance: none;
--color: rgb(31, 29, 29);
border-left: 6.4721359549996em solid transparent;
border-right: 6.4721359549996em solid transparent;
border-bottom: 4em solid var(--color);
transform: rotate(0deg);
cursor: pointer;
}

.star:before {
content: "";
border-left: 6.4721359549996em solid transparent;
border-right: 6.4721359549996em solid transparent;
border-top: 4em solid var(--color);
position: absolute;
left: -6.4721359549996em;
transform: rotate(108deg);
}

.star:after {
content: "";
border-left: 6.4721359549996em solid transparent;
border-right: 6.4721359549996em solid transparent;
border-top: 4em solid var(--color);
position: absolute;
left: -6.4721359549996em;
transform: rotate(253deg);
}

.radio-input > .star:hover ~ .star,
.radio-input > .star:hover,
.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
--color: yellow;
}

.radio-input > .star:checked ~ .star,
.radio-input > .star:checked {
animation: grow 0.5s linear forwards;
transition: transform 0.3s;
}

@keyframes grow {
50% {
  scale: 2;
}
}
