<section class="pt-5">
    <div class="form-container">
        <h2 class="text-center">Reset password</h2>
        <form [formGroup]="formGroup" (ngSubmit)="Submit()">

         
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" formControlName="password"
                    [class.is-valid]="_password.valid" [class.is-invalid]="_password.invalid&&_password.touched">
                @if (_password.hasError('required')) {
                <span class="text-danger">password is required</span>
                }@else if (_password.hasError('pattern')) {
                <span class="text-danger">
                    Password must contain at least one number, one special character (#$&#64;!.), and be at
                    least 8 characters long.
                </span>
                }
            </div>
            <div class="form-group">
                <label for="password">Confierm password</label>
                <input type="password" class="form-control" formControlName="confirmPassword"
                    [class.is-valid]="_confirmPassword.valid" [class.is-invalid]="_confirmPassword.invalid&&_confirmPassword.touched">
                @if (_confirmPassword.hasError('required')) {
                <span class="text-danger">Confierm password is required</span>
                }@else if (_confirmPassword.hasError('pattern')) {
                <span class="text-danger">
                    Password must contain at least one number, one special character (#$&#64;!.), and be at
                    least 8 characters long.
                </span>
                }@else if (_confirmPassword.hasError('passwordMisMatch')) {
                    <span class="text-danger">
                        *Password do not match*
                    </span>
                }
            </div>
            <div class="form-group">
                <button class="btn btn-info w-100" [disabled]="formGroup.invalid">
                    Save Change <i class="fa fa-sign-in"></i>
                </button>
            </div>
            
        </form>
    </div>


</section>