<form [formGroup]="delivery">
    <mat-radio-group (change)="SetShipptingPrice()" formControlName="delivery" aria-label="Select an option">
        @for (item of deliveries; track $index) {
        <mat-radio-button [value]="item.id">{{item.name}}

            <p style="font-size: 10px;">{{item.description+" "+item.deliveryTime}}</p>
            <p style="font-size: 12px;font-weight: bold;">price:{{item.price|currency}}</p>
        </mat-radio-button>

        }

    </mat-radio-group>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="  CreatePayment() " mat-button matStepperNext>Next</button>
    </div>
</form>